Q. Print the given inputs until you encounter a multiple of 5.

In [1]:
N = int(input())

for i in range(N):
  M = int(input())

  # check if M is a multiple of 5
  if M % 5 == 0:
    break
  else:
    print(M)

5
2
2
6
6
9
9
5

Q. Print the multiples of 3 in given N integers

In [2]:
N = int(input())

for i  in range(N):
  M = int(input())

  if M % 3 == 0:
    print(M)

4
5
6
6
9
9
8

Q. Count the even and odd numbers in a given range [M, N]

In [4]:
M = int(input())
N = int(input())

count = 0
for i in range(M, N+1):
  if i % 2 == 0:
    count = count + 1

print(count)

if M < N:
  num = N - M + 1
  print(num - count)
else:
  num = 0
  print(0)

2
8
4
3

In [5]:
M = int(input())
N = int(input())

count_even = 0; count_odd = 0;
for i in range(M, N+1):
  if i % 2 == 0:
    count_even = count_even + 1
  else:
    count_odd = count_odd + 1

print(count_even)
print(count_odd)

2
8
4
3

Q. Print characters of English in right triangle posture

In [11]:
N = int(input())

s = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"


for i in range(N):
  s1 = ""
  for j in range(i+1):
    s1 = s1 + (s[j] + ' ')
  print(s1)

6
A
A B
A B C
A B C D
A B C D E
A B C D E F

In [16]:
# using ASCII values
N = int(input())

A = 65
for i in range(N):
  s = ""
  for j in range(i+1):
    s = s + chr(A + j) + ' '
  print(s)

5
A
A B
A B C
A B C D
A B C D E

In [ ]:
# Code writing guidelines

# Method 1:
isPrime = True

# Method 2:
is_prime = True

Q. Convert the given string from Method 1 to Method 2

In [19]:
# s = "PythonLearningHere"
s = "CamelCase"

s1 = ""
for i in range(len(s)):
  if s[i] == s[i].upper():
    s1 = s1 + '_'
  s1 = s1 + s[i]

s1 = s1.lower()
if s1[0] == '_':
  s1 = s1[1:]
print(s1)

camel_case