## Input and Outout

In [1]:
a = input()

8

In [2]:
print(a)

8

In [3]:
name = input()
print(" The consumer's name is " , name)

python
 The consumer's name is  python

In [4]:
age = input()
print("The consumer's age is ", age, "years")

28
The consumer's age is  28 years

In [5]:
print("What is your age?")
age = input()
print("The consumer's age is " + str(age) + " years") # string concatenation

What is your age?
28
The consumer's age is 28 years

### Working with strings

In [6]:
# string concatenation
a = "hello"
b = "world"
print(a + b)

helloworld

In [7]:
print(a + ' ' + b)

hello world

In [8]:
'*' + 2

TypeError: ignored

In [9]:
a = "a"
b = "b"
print(a - b)

TypeError: ignored

In [10]:
# String repetetion
print('*' * 10)

**********

In [11]:
'*' / 10

TypeError: ignored

In [12]:
'*' / '*'

TypeError: ignored

In [13]:
'*' * 'A'

TypeError: ignored

In [14]:
print("* " * 5 + 'Python is here ' + '* ' * 5 )

* * * * * Python is here * * * * *

In [15]:
# Length of the string
name = input()
length = len(name)
print(length)

python's baby
13

In [16]:
string = " " * 30
len(string)

30

In [17]:
string = "abc" * 15
len(string)

45

In [18]:
str1 = "Hello "
str2 = "World!"
str3 = str1 + str2
len1 = len(str1)
len2 = len(str2)
len3 = len(str3)
print("len1 + len2 = ", len1+len2)
print("len3 = ", len3)

len1 + len2 =  12
len3 =  12

In [20]:
# String Indexing
name = input()

# what is the first character in the string?
print("The first character in the string is ",name[0])

Tuesday
The first character in the string is  T

In [21]:
# How do we find the last / ending character? 
length = len(name)
print("The last character is ", name[length - 1])

The last character is  y

In [22]:
# Another way of accessing the last character
print("The last character is ", name[-1])   # negetive indices

The last character is  y

In [23]:
# Error in indexing
name[10]  # indices possible are 0, 1, 2, 3, 4, 5, 6

IndexError: ignored